.wrap{
	background: #000;
}
.heading{
	height: 130px;
	line-height: 130px;
	color: #fff;
	font-size: 30px;
	font-weight: 200;
	text-align: center;
}
.header{
	position: relative;
}

/*图表字体样式*/
.fold{
	font-size: 20px;
	color: #fff;
}

.prev{
	font-size: 80px;
	position: absolute;
	top: 50%;
	-margin-top: -50px;
	left: 16px;
	z-index: 1;
}
.next{}

.carousel{
	height: 700px;
	overflow: hidden;
}
.carousel li{
	min-height: 700px;
	background: url(../img/banner.jpg) no-repeat;
	background-size: cover;
}
